* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }
}
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #000, #333);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #f1c40f;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}